@import "../../ClobalStyle/BreakPoints";

.home {
   .video-player {
      background-color: #000;
      min-width: 100vw;
      .container {
         padding: 0;
      }
      position: relative;
      width: fit-content;
      max-width: 100%;
      overflow: hidden;
      margin: 0 auto;
      video {
         width:  100%;
         max-width: 100%;
      }
      .view-chart {
         color: #fff;
         text-transform: uppercase;
         font-size: 18px;
         font-weight: 600;
         cursor: pointer;
      }
   }
} 