@import "../../ClobalStyle/BreakPoints";

.home {
   min-height: 100vh;
   background-repeat: no-repeat;
   object-fit: contain;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
   .content {
      max-width: 680px;
      background-color: rgba(0, 0, 0, 0.274);
      padding: 15px;
      border-radius: 6px;
      border: 1px solid rgb(0, 0, 0);
      h3 {
         color:  white;
         font-size: 32px;
         text-transform: capitalize;
         margin-bottom: 10px;
      }
      p {
         color:  white;
         font-size: 22px;
         text-transform: capitalize;
         margin-bottom: 10px;
      }
      
   }
} 