@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Commissioner:wght@400;500;700&family=DM+Sans:ital,wght@0,700;1,400&family=Kumbh+Sans:wght@400;500;600;700;800;900&family=League+Spartan:wght@500;600;800;900&family=Nunito+Sans:ital,wght@0,300;0,600;1,700&family=Nunito:ital,wght@0,500;0,700;1,400&family=Poppins:wght@500;700&family=Shadows+Into+Light&display=swap');
body {
  margin: 0;
  font-family: 'Bai Jamjuree', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img, picture {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
input {
  font-size: 16px !important;
}
input, button {
  outline-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}
.App {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 100%);
  border-radius: 5px;
  margin-block: 0.5em;
  border: 1px solid #f4f5ad;
}

::-webkit-scrollbar-thumb {
  background:  #f4f5ad;
  border-radius: 5px;
  border: 1px solid #f4f5ad;
  transition: all .4s;
}
::-webkit-scrollbar-thumb:hover {
  background:  #bfc073;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000cc;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root {
  position: relative;
}