@import "../../ClobalStyle/BreakPoints";

.audio-player {
    position: fixed;
    bottom: -205px;
    left: 0;
    z-index: 10000;
    width: 100%;
    background-image: linear-gradient(to right, #dddddde5, rgba(153, 153, 68, 0.87));
    border-top: 1px solid #fff;
    transition: all .4s;
    @include lg {
        bottom: -105px; 
    }
    &.active {
        bottom: 0; 
    }
    .container {
        position: relative;
        height: 220px;
        padding: 10px;
        max-width: 1400px;
        cursor: pointer;
        @include lg {
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .show-hide {
            position: absolute;
            width: fit-content;
            right: 20px;
            top: -35px;
            svg {
                font-size: 40px;
            }
        }
        .artest {
            display: flex;
            align-items: center;
            gap: 10px;
            @include lg {
                flex: 1;
            }
            .song-cover {
                width: 60px ;
                height: 60px;
                img {
                    border-radius: 10px;
                    max-width: 100%;
                    max-height: 100%;
                    border: 1px solid;
                }
            }
        }
        .controls {
            @include lg {
                flex: 1;
            }
            .counter {
                background-color: #994;
                width: -moz-fit-content;
                width: fit-content;
                margin: auto;
                padding: 3px 7px;
                border-radius: 10px;
                h5 {
                    font-weight: bold;
                }
                @include lg {
                    position: absolute;
                    right: 10px;
                    background-color: #fff;
                }
            }
            .duration {
                .min-max {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-weight: bold;
                }
                .dur-rang {
                    height: 7px;
                    -webkit-appearance: none;
                    appearance: none;
                    background-color:  #ffffff;
                    border-radius: 10px;
                    width: 100%;
                    overflow: hidden;
                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: #000;
                        box-shadow: -2000px 0 0 2000px #000;
                    }
                }
            }
            .icons {
                display: flex;
                align-items: center;
                gap: 20px;
                margin: auto;
                width: fit-content;
                .prev-icon,.next-icon,.replay-5, .play-pause {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background-image: linear-gradient(to right, #ddd, #994);
                    box-shadow: 0px 0px 10px 3px #24040469;
                    transition: all .4s;
                    &:hover, &.active {
                        box-shadow: inset 0px 0px 10px 3px #24040469,0px 0px 10px 3px #24040469; 
                    }
                    svg {
                       font-size: 30px;
                       transition: all .4s;
                    }
                    &:hover svg {
                        font-size: 26px;
                    }
                }
                .play-pause {
                    width: 60px;
                    height: 60px;
                    .pause-icon, .play-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        svg {
                            font-size: 50px;
                        }
                    }
                    .pause-icon {
                        svg {
                            font-size: 40px;
                        }
                    }
                }   
            }
        }
        .valume {
            display: none;
            align-items: center;
            gap: 5px;
            width: fit-content;
            margin: auto;
            @include sm {
                display: flex;
            }
            @include lg {
                flex: 1;
                justify-content: center;
            }
            .volume-rang {
                -webkit-appearance: none;
                appearance: none;
                height: 4px;
                background-color: #000;
                border-radius: 10px;
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 7px;
                    height: 20px;
                    border-radius: 10px;
                    background-color: #fff;
                }
            } 
            span {
                font-weight: bold;
            }
        }
        .close-player {
            position: absolute;
            top: -30px;
            left: 23px;
            width: 35px;
            height: 35px;
            border-radius: 50% 50% 0 0;
            background-image: linear-gradient(to top, #ddd, #994);
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #fff;
        }
    }
}