.search-field {
    position: absolute;
    z-index: 9999999 !important;
    left: 0;
    top: 60px;
    width: 100%;
    max-height: 450px;
    overflow-y: auto;
    background-color: #fff;
    padding: 15px;
    box-shadow: -4px 5px 20px 0px rgba(153, 147, 147, 0.6705882353);
    border-radius: 0 0 5px 5px;
    .track-field, .artist-field {
        h4 {
            text-transform: uppercase;
        }
        .track-card , .artist-card{
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 10px 0;
            color: #555;
            cursor: pointer;
            transition: all .4s;
            &:hover {
                background-color: #eee;
                padding: 0 5px;
                border-radius: 5px;
                color: #000;
            }
            .img {
                height: 50px;
                width: 50px;
                border-radius: 5px;
                overflow: hidden;
            }
        }
    }
    .emty-field {
        text-align: center;
    }
    .loading {
        height: 200px;
        .spin {
            width: 70px;
            height: 70px;
        }
    }
}